* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.navbar-links a {
    padding: 0px 0px 0px;
}

.container-fluid1 {
    background:#D2E9FC;
}

.container-fluid2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 400px;
}

.container-fluid3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 400px;
}

.container-fluid4 {
    padding: 0px 400px;
    font-size: large;
}

.container-fluid5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 400px;
    
}

.container-fluid9 {
    padding: 0px 400px;
    font-size: large;
    padding-top: 15px;
}


.container-fluid10 {
    display: flex;
    justify-content: space-between;
    padding: 10px 400px;
    flex-wrap: wrap;
}

.container-fluid11 {
    font-size: small;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
 }
 
 .container-fluid12 {
     display: flex;
     justify-content: space-between;
     padding: 10px 400px;
     flex-wrap: wrap;
 }
 
 .container-fluid13 {
     display: flex;
     justify-content: space-between;
     padding: 10px 400px;
     flex-wrap: wrap;
 }


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.toggle-button {
    display: flex;
    position: absolute;
    top: .75rem;
    left: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.navbar {
    flex-direction: column;
    align-items: flex-start;
}


.navbar-links {
    height: 100%;
    display: none;
    width: 100%;
 }

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
}

.navbar-links ul li {
        text-align: center;
}

 .navbar-links ul li a {
        padding: .5rem 1rem;
        display: block;
        text-decoration: none;
        color: black;
        padding: 1rem;   
 }

 .navbar-links li {
    list-style: none;
}

.navbar-links.active {
        display: flex;
}

@media(max-width:1227px){
    .container-fluid3 {
        display: none;
    }
    .container-fluid2 {
        display: flex;
        justify-content: center;
    }
    .container-fluid2 .electronics {
        margin: 10px;
    }
    .container-fluid2 .hardware {
        margin: 10px;
    }
    .container-fluid2 .console {
        margin: 10px;
    }
    .container-fluid4 {
        display: flex;
        justify-content: center;
    }
    .container-fluid5 .electronics {
        margin: 10px;
    }
    .container-fluid5 {
        display: flex;
        justify-content: center;
    }
    .container-fluid5 .hardware {
        margin: 10px;
    }
    .container-fluid5 .console {
        margin: 10px;
    }
    .container-fluid9 {
        display: flex;
        justify-content: center;
    }
    .container-fluid10 {
        display: flex;
        justify-content: center;
    }
    .container-fluid10 .electronics {
        margin: 10px;
    }
    .container-fluid10 .hardware {
        margin: 10px;
    }
    .container-fluid10 .console {
        margin: 10px;
    }
}