* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    background: #F5F0F0;
}

.container-fluid {
    font-size: 30px;
}

.credentials {
    background: white;
    padding: 3%;
    align-self: center;
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.container {
    padding: 3%;
    background:#fff;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    align-self: center;
    padding: 15px;
}


.container1 .container2 {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
  }

.split {
    flex-basis: 30%;
    padding:10px
}

img {
    height: 200px;
    width: auto;
}

.container3 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.container4 {
    display: flex;
    justify-content: center;
}

.button {
    background: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.step-wizard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.step-wizard-list{
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}
.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #21d4fd;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: transparent;
}
.progress-count:after{
    content: "";
    height: 40px;
    width: 40px;
    background: #21d4fd;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.progress-count:before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}
.progress-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
    display: none;
}
.current-item ~ .step-wizard-item .progress-count:after{
    height:10px;
    width:10px;
}
.current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}
.current-item .progress-count:after{
    background: #fff;
    border: 2px solid #21d4fd;
}
.current-item .progress-count{
    color: #21d4fd;
}